* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: fit-content;
}

.home-container {
	width: 100vw;
	height: 100vh;
}

.btn-grp {
	width: 100%;
}

.card-container {
	width: 100% !important;
	overflow: hidden;
}

.card {
	width: 75%;
}

.box {
	position: absolute;
	cursor: move;
	color: black;
	max-width: 215px;
	border-radius: 5px;
	padding: 1em;
	margin: auto;
	user-select: none;
}

#name {
	width: 90%;
}

.svg-images {
	width: 90px;
	cursor: pointer;
}

@media (min-width: 900px) {
	.card {
		width: 50%;
	}
}
