* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: fit-content;
}

.home-container {
	width: 100vw;
	height: 100vh;
}

.btn-grp {
	width: 100%;
}

.card-container {
	width: 100% !important;
	overflow: hidden;
}

.card {
	width: 75%;
}

@media (min-width: 900px) {
	.card {
		width: 50%;
	}
}
